@charset "utf-8";

/* Test */
.shadow-test {
	margin: 70px auto;
	width: 250px;
	height: 180px;
	box-shadow:
		0 -15px 0 0 #1BB4C2,
		-60px -88px 0 -60px #1BB4C2,
		-33px -100px 0 -80px rgba(0,0,0,.2),
		inset 120px 20px 0 -100px red,
		inset 10px 250px 10px 10px #1396A1;
}

/* ==========================================
   About
========================================== */
.window-wrap {
	position: relative;
	height: 100%;
	min-height: 550px;
}
.win-shadow {
	box-shadow: 15px 15px 0 0 rgba(0,0,0,.2);
}
/* Win-1 */
.window-1 {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -35% 0 0 -365px;
	width: 710px;
	-webkit-transform: scale(.65);
	    -ms-transform: scale(.65);
	        transform: scale(.65);
}
.window-1 .header {
	padding-top: 20px;
	background-color: #7995a2;
}
.window-1 .header .tab {
	padding: 10px 10px 0;
	width: 170px;
	height: 30px;
	background-color: #145889;
}
.window-1 .header .tab div {
	float: left;
	height: 20px;
	background-color: #a2a9c4;
}
.window-1 .header .item-1 {
	margin-right: 5px;
	width: 25px;
}
.window-1 .header .item-2 {
	width: 120px;
}
.window-1 .header .search-bar {
	padding: 10px;
	height: 50px;
	background-color: #145889;
}
.window-1 .header .bar {
	width: 80%;
	height: 30px;
	background-color: #fff;
}
.window-1 .page {
	padding: 25px;
	height: 430px;
	background-color: #fff;
}
.window-1 .left-area {
	float: left;
}
.window-1 .left-area .menu {
	position: relative;
	width: 186px;
	height: 40px;
	background-color: #145889;
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
	        border-radius: 5px;
}
.window-1 .left-area .menu:before {
	pointer-events: none;
	content: "MENU";
	color: #fff;
	font-size: 18px;
	text-align: left;
	line-height: 40px;
}
.window-1 .empty-line {
	border: 3px dotted #145889;
}
.window-1 .left-area .box-1 {
	margin-top: 20px;
	height: 40px;
}
.window-1 .left-area .box-2 {
	margin-top: 50px;
	height: 40px;
}
.window-1 .left-area .box-3 {
	margin-top: 10px;
	height: 126px;
}
.window-1 .left-area .box-3 span {
	float: left;
	width: 60px;
	height: 60px;
}
.window-1 .left-area .color-1 {
	background-color: #f47b44;
}
.window-1 .left-area .color-2 {
	background-color: #f9b01a;
}
.window-1 .left-area .color-3 {
	background-color: #ffd800;
}
.window-1 .left-area .color-4 {
	background-color: #196391;
}
.window-1 .left-area .color-5 {
	background-color: #189dab;
}
.window-1 .left-area .color-6 {
	background-color: #a2d36f;
}
.window-1 .right-area {
	float: right;
	padding: 13px 20px;
	width: 440px;
	height: 326px;
}
.window-1 .right-area .left-box {
	float: left;
	padding: 15px 10px 0;
	width: 170px;
	height: 100%;
	background-color: #145889;
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
	        border-radius: 5px;
}
.window-1 .right-area .main {
	padding: 20px 15px;
	height: 90%;
	background-color: #fff;
}
.window-1 .right-area .box-1 {
	height: 70px;
	background-color: #f47b44;
}
.window-1 .right-area .right-box {
	float: right;
	width: 200px;
	height: 100%;
}
.window-1 .right-area .line {
	margin: 10px 0;
	height: 5px;
	background-color: #c2e7ed;
}
.window-1 .right-area .box-2 {
	float: left;
	margin-top: 20px;
	width: 50px;
	height: 70px;
	background-color: #189dab;
}
.window-1 .right-area .right {
	float: right;
	padding: 12px 0 0 10px;
	width: 70px;
}
/* Win-2 */
.window-2 {
	position: absolute;
	width: 380px;
	-webkit-transform: scale(.35);
	    -ms-transform: scale(.35);
	        transform: scale(.35);
}
.window-2 .header {
	width: 160px;
	height: 20px;
	background-color: #1BB4C2;
}
.window-2 .search {
	height: 20px;
	background-color: #1BB4C2;
}
.window-2 .page {
	padding: 1px 20px 15px;
	background-color: #fff;
}
.window-2 .page .line-1 {
	margin: 35px 0 20px;
	width: 80px;
	height: 15px;
	background-color: #d55c42;
}
.window-2 .page .line-2 {
	margin: 15px 0;
	height: 15px;
	background-color: #1cb4c2;
}
/* Right */
.window-2.right {
	bottom: 40px;
	right: -110px;
}
/* Left */
.window-2.left {
	top: 0;
	left: -90px;
}
.window-2.left .page {
	padding: 15px 35px;
}
.window-2 .page .menu {
	position: relative;
	margin: 20px 0;
	padding: 17px;
	background-color: #1396a1;
}
.window-2 .page .menu:before {
	pointer-events: none;
	color: #fff;
	font-size: 24px;
}
.window-2 .page .menu:nth-child(1):before {
	content: "MENU 01";
}
.window-2 .page .menu:nth-child(2):before {
	content: "MENU 02";
}
.window-2 .page .menu:nth-child(3):before {
	content: "MENU 03";
}
/* Tags */
.tags {
	position: absolute;
	bottom: 80px;
	width: 65px;
	height: 55px;
}
.tags .page {
	position: relative;
	top: -7px;
	left: -4px;
	height: 100%;
	background-color: #ffde23;
	z-index: 1;
	-webkit-transform: rotate(5deg);
	    -ms-transform: rotate(5deg);
	        transform: rotate(5deg);
}
.tags .header {
	position: relative;
	height: 10px;
	background-color: #FEED85;
}
.tags .shadow {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.2);
	z-index: 0;
}
.tags.right {
	left: 450px;
}
.tags.left {
	left: 530px;
}
/* Pages */
.pages {
	position: absolute;
	padding: 15px;
	width: 350px;
	height: 360px;
	background-color: #fff;
}
.pages .header {
	position: relative;
	padding: 0 10px;
	height: 30px;
	text-align: left;
	background-color: #fab01b;
}
.pages .header:before {
	pointer-events: none;
	content: "TEXT HEADER";
	color: #fff;
	line-height: 30px;
}
.pages .banner {
	margin-top: 10px;
	height: 110px;
	color: #888;
	font-size: 30px;
	line-height: 110px;
	border: 1px solid #888;
}
.pages .menu {
	position: relative;
	margin-top: 10px;
	padding: 0 10px;
	width: 70px;
	height: 20px;
	background-color: #b5b6ba;
}
.pages .menu:before {
	pointer-events: none;
	content: "MENU";
	position: absolute;
	top: 0;
	left: 0;
	width: 70px;
	height: 20px;
	color: #777;
	font-size: 12px;
	line-height: 18px;
}
.pages .list {
	padding: 5px 0;
}
.pages .list .item {
	float: left;
	position: relative;
	width: 106px;
	height: 60px;
	background-color: #d6d7d9;
	border-right: 3px solid #fff;
}
.pages .list .item:before {
	pointer-events: none;
	content: "";
	position: absolute;
	top: -30px;
	left: 50px;
	width: 1px;
	height: 120px;
	background-color: #fff;
	-webkit-transform: rotate(60deg);
	    -ms-transform: rotate(60deg);
	        transform: rotate(60deg);
}
.pages .list .item:nth-child(2) {
	background-color: #b3b4b8;
}
.pages .list .item:nth-child(3) {
	border: none;
}
.pages .list .item:nth-child(3):before {
	top: -30px;
	left: 52px;
	-webkit-transform: rotate(61deg);
	    -ms-transform: rotate(61deg);
	        transform: rotate(61deg);
}
.pages .left-area {
	float: left;
	padding: 10px;
	width: 210px;
	height: 80px;
	border: 2px solid #c9cacc;
}
.pages .left-area .line {
	margin: 5px 0;
	height: 8px;
	background-color: #ececec;
}
.pages .left-area .line:nth-child(1) {
	width: 140px;
}
.pages .left-area .line:nth-child(2) {
	width: 130px;
}
.pages .left-area .line:nth-child(3) {
	width: 90px;
}
.pages .left-area .line:nth-child(4) {
	width: 180px;
}
.pages .right-area {
	float: left;
	position: relative;
	margin-left: 3px;
	width: 106px;
	height: 80px;
	background-color: #b5b6ba;
}
.pages .right-area:before {
	pointer-events: none;
	content: "LINK";
	color: #fff;
	font-size: 13px;
	line-height: 80px;
}
.pages.left {
	bottom: -20px;
	left: -70px;
	-webkit-transform: scale(.45);
	    -ms-transform: scale(.45);
	        transform: scale(.45);
}
/* Right */
.pages.right {
	top: -50px;
	right: -40px;
	-webkit-transform: scale(.45);
	    -ms-transform: scale(.45);
	        transform: scale(.45);
}
.pages.right .header {
	background-color: #1bb4c2;
}
.pages.right .list .item:nth-child(2) {
	background-color: #d6d7d9;
}
.pages.right .left-area {
	float: right;
}
.pages.right .right-area {
	float: left;
	margin-left: 0;
}


/* ==========================================
   Cases
========================================== */
#cases .window-wrap {
	-webkit-transform: scale(.65);
	    -ms-transform: scale(.65);
	        transform: scale(.65);
}
.win-pages {
	position: absolute;
	width: 250px;
	height: 250px;
	background-color: #fff;
	box-shadow: 10px 10px 0 0 rgba(0,0,0,.2);
}
.win-pages:nth-child(1) { top: 0; left: -140px;}
.win-pages:nth-child(2) { top: 0; left: 140px;}
.win-pages:nth-child(3) { top: 0; left: 420px;}
.win-pages:nth-child(4) { top: 0; left: 700px;}
.win-pages:nth-child(5) { bottom: 0; left: -140px;}
.win-pages:nth-child(6) { bottom: 0; left: 140px;}
.win-pages:nth-child(7) { bottom: 0; left: 420px;}
.win-pages:nth-child(8) { bottom: 0; left: 700px;}
.win-pages .top {
	padding-top: 5px;
	height: 35px;
	background-color: #91d2d9;
}
.win-pages .top .tabs {
	height: 15px;
}
.win-pages .top .item {
	float: left;
	width: 50px;
	height: 100%;
}
.win-pages .top .item:nth-child(1) {
	width: 30px;
	background-color: #f7805b;
}
.win-pages .top .item:nth-child(2) {
	background-color: #e5e4e4;
}
.win-pages .top .item:nth-child(3) {
	background-color: #d9d7d5;
}
.win-pages .search {
	padding: 3px;
	height: 15px;
	background-color: #e5e4e4;
}
.win-pages .search .icon {
	float: left;
	margin-right: 3px;
	width: 9px;
	height: 9px;
	background-color: #cac9c7;
}
.win-pages .search .bar {
	float: left;
	margin-right: 3px;
	width: 196px;
	height: 9px;
	background-color: #fff;
}
.win-pages .search .icon:last-child {
	margin-right: 0;
}
/* Page 1 */
.page-box {
	height: 215px;
}
.page-1 .header {
	padding: 5px 25px;
	height: 20px;
	background-color: #ff9978;
}
.page-1 .header .box {
	float: left;
	height: 100%;
	background-color: #fff;
}
.page-1 .header .box.left {
	margin-right: 3px;
	width: 185px;
}
.page-1 .header .box.right {
	width: 10px;
}
.page-1 .main {
	margin: 0 10px;
	height: 195px;
	background-color: #f2f2f2;
}
.page-1 .left-wrap {
	float: left;
	width: 150px;
}
.page-1 .text {
	padding: 5px;
}
.page-1 .text .title {
	width: 40px;
	height: 5px;
	background-color: #ff9b7b;
}
.page-1 .text .line {
	margin: 3px auto 0;
	height: 3px;
	background-color: #DBDBD9;
}
.page-1 .text .line.last {
	width: 70%;
}
.page-1 .video {
	position: relative;
	margin-top: 5px;
	height: 73px;
	background-color: #666a73;
}
.page-1 .video:before {
	pointer-events: none;
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -12px 0 0 -9px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 12px 0 12px 18px;
	border-color: transparent transparent transparent #fff;
}
.page-1 .left-wrap .item .img {
	float: left;
	margin: 6px 5px 0 10px;
	width: 20px;
	height: 20px;
	background-color: #abe0e6;
}
.page-1 .left-wrap .item .text {
	float: left;
	padding: 7px 10px 0 0;
	width: 115px;
}
.page-1 .left-wrap .item .text .line {
	margin: 2px 0 0;
}
.page-1 .right-wrap {
	float: left;
	padding: 10px 7px;
	width: 80px;
	height: 100%;
	background-color: #e6e4e5;
}
.page-1 .right-wrap .item {
	margin-bottom: 5px;
	height: 25px;
}
.page-1 .right-wrap .img {
	float: left;
	width: 35px;
	height: 25px;
	background-color: #cccbc9;
}
.page-1 .right-wrap .text {
	float: left;
	padding: 0 0 0 5px;
	width: 30px;
}
.page-1 .right-wrap .title {
	margin: 3px 0;
	width: 100%;
	background-color: #fff;
}
.page-1 .right-wrap .line {
	margin: 2px 0 0;
	height: 2px;
	background-color: #fff;
}
/* Page 2 */
.page-2 {
	padding: 0 10px;
	background-color: #f2f2f2;
}
.page-2 .main {
	padding: 5px 0;
	height: 100%;
	background-color: #fff;
}
.page-2 .header {
	padding: 0 5px;
	height: 30px;
}
.page-2 .pic {
	float: left;
	padding: 5px;
	width: 65px;
	height: 30px;
	background-color: #dad8d6;
}
.page-2 .pic .img {
	float: left;
	width: 25px;
	height: 20px;
	background-color: #fff;
}
.page-2 .text {
	float: left;
	padding: 3px 0 0 5px;
	width: 30px;
}
.page-2 .text .line {
	margin: 0 0 4px;
	height: 2px;
	background-color: #6a6e79;
}
.page-2 .login {
	float: left;
	margin-left: 15px;
	width: 50px;
}
.page-2 .login .box {
	margin: 2px auto 0;
	width: 50px;
	height: 8px;
	border: 2px solid #d6d4d5;
}
.page-2 .login .btn {
	margin: 3px auto 0;
	width: 30px;
	height: 6px;
	background-color: #fe9b7b;
}
.page-2 .banner {
	margin-top: 10px;
	padding: 0 5px;
	height: 30px;
}
.page-2 .banner .item {
	float: left;
	margin-right: 12px;
	width: 65px;
	height: 30px;
}
.page-2 .banner .item:nth-child(1) {
	background-color: #abe0e6;
}
.page-2 .banner .item:nth-child(2) {
	background-color: #666a74;
}
.page-2 .banner .item:nth-child(3) {
	margin-right: 0;
	background-color: #d9d8d6;
}
.page-2 .page {
	margin-top: 10px;
	padding: 17px 0 0;
	height: 105px;
	background-color: #ff9978;
}
.page-2 .page .box {
	float: left;
	margin: 0 9px 10px 11px;
	width: 25px;
}
.page-2 .page .box .img {
	margin: 0 auto;
	width: 15px;
	height: 15px;
	background-color: #fff;
}
.page-2 .page .text {
	float: none;
	padding: 5px 0;
	width: 25px;
}
.page-2 .page .box .line {
	margin: 0 0 2px;
	height: 1px;
	background-color: #fff;
}
.page-2 .footer {
	padding-top: 5px;
	height: 25px;
}
.page-2 .footer .box {
	float: left;
	margin: 0 10px;
}
.page-2 .footer .line {
	margin: 3px auto 0;
	width: 25px;
	height: 1px;
	background-color: #e0dfe0;
}
.page-2 .footer .box .line:last-child {
	width: 15px;
}
/* Page 3 */
.page-3 .header {
	padding: 7px 15px 0;
	height: 20px;
	background-color: #676b74;
}
.page-3 .header .logo {
	float: left;
	width: 30px;
	height: 5px;
	background-color: #94d6dd;
}
.page-3 .header .login {
	float: right;
	width: 85px;
	height: 5px;
}
.page-3 .header .box {
	float: left;
	margin-right: 5px;
	width: 30px;
	height: 100%;
	background-color: #fff;
}
.page-3 .header .btn {
	float: left;
	width: 15px;
	height: 100%;
	background-color: #94d5db;
}
.page-3 .page {
	padding: 0 10px;
	height: 195px;
	background-color: #f3f3f3;
}
.page-3 .main {
	height: 100%;
	background-color: #fff;
}
.page-3 .banner {
	padding: 30px 0 0 40px;
	height: 80px;
	background-color: #ff9979;
}
.page-3 .banner .search {
	float: left;
	width: 135px;
	height: 15px;
	background-color: #fff;
}
.page-3 .banner .btn {
	float: left;
	width: 15px;
	height: 15px;
	background-color: #696d78;
}
.page-3 .links {
	padding: 0 10px;
}
.page-3 .links .item {
	float: left;
	margin: 6px 3px 6px 4px;
	width: 45px;
	height: 10px;
	background-color: #fff;
	border-top: 3px solid #cbcbc9;
	border-bottom: 3px solid #cbcbc9;
	border-left: 8px solid #cbcbc9;
	border-right: 8px solid #cbcbc9;
}
.page-3 .box-wrap {
	padding: 0 5px;
	height: 85px;
}
.page-3 .box-wrap .left {
	float: left;
	margin-right: 7px;
	height: 100%;
}
.page-3 .box-wrap .box {
	margin-bottom: 6px;
	height: 40px;
}
.page-3 .box-wrap .one {
	width: 45px;
	background-color: #ff9978;
}
.page-3 .box-wrap .two {
	width: 45px;
	background-color: #92d3d9;
}
.page-3 .box-wrap .three {
	float: left;
	margin-right: 6px;
	width: 45px;
	background-color: #e5e4e4;
}
.page-3 .box-wrap .four {
	float: left;
	width: 45px;
	background-color: #91d4db;
}
.page-3 .box-wrap .five {
	width: 95px;
	background-color: #ff9978;
}
.page-3 .box-wrap .six {
	float: right;
	margin-right: 0;
	width: 45px;
	height: 85px;
	background-color: #e6e4e5;
}
/* Page 4 */
.page-4 .header {
	padding: 10px 30px;
	height: 60px;
	background-color: #fed67f;
}
.page-4 .header .img {
	float: left;
	width: 40px;
	height: 40px;
	background-color: #ffb959;
}
.page-4 .header .text {
	float: left;
	padding: 0 0 0 15px;
}
.page-4 .header .title {
	width: 60px;
	height: 8px;
	background-color: #ffb959;
}
.page-4 .header .line {
	margin: 5px 0;
	width: 125px;
	height: 5px;
	background-color: #fff;
}
.page-4 .header .line:last-child {
	width: 90px;
}
.page-4 .main {
	padding: 0 30px 9px;
}
.page-4 .main .item {
	float: left;
	position: relative;
	margin: 8px 25px 0 0;
	width: 45px;
	height: 50px;
}
.page-4 .main .mr0 {
	margin-right: 0;
}
.page-4 .main .item:after,
.page-4 .main .item:before {
	pointer-events: none;
	content: "";
	position: absolute;
}
.page-4 .main .item:after {
	left: 8px;
	bottom: 9px;
	width: 29px;
	height: 25px;
}
.page-4 .main .item:before {
	top: 0;
	left: 0;
	width: 100%;
	height: 7px;
}
.page-4 .main .blue {
	background-color: #c3ecf1;
}
.page-4 .main .blue:before {
	background-color: #abe1e6;
}
.page-4 .main .blue:after {
	background-color: #abe1e6;
}
.page-4 .main .red {
	background-color: #ff9978;
}
.page-4 .main .red:before {
	background-color: #f7815f;
}
.page-4 .main .red:after {
	background-color: #f5825f;
}
.page-4 .main .yellow {
	background-color: #fed67f;
}
.page-4 .main .yellow:before {
	background-color: #ffc86d;
}
.page-4 .main .yellow:after {
	background-color: #ffc76d;
}
.page-4 .footer {
	padding: 0 30px;
	height: 30px;
	background-color: #e5e4e4;
}
.page-4 .footer .item {
	float: left;
	margin: 6px 25px 0 0;
	width: 45px;
}
.page-4 .footer .item:last-child {
	margin-right: 0;
}
.page-4 .footer .title {
	margin-bottom: 5px;
	width: 45px;
	height: 5px;
	background-color: #cacac8;
}
.page-4 .footer .line {
	margin: 0 auto 2px;
	width: 35px;
	height: 1px;
	background-color: #fff;
}
.page-4 .footer .line:last-child {
	width: 15px;
}
/* Page 5 */
.page-5 .header {
	padding: 5px 40px;
	height: 30px;
	background-color: #666a73;
}
.page-5 .header .logo {
	float: left;
	width: 20px;
	height: 20px;
	background-color: #c3ecf1;
}
.page-5 .header .nav {
	float: right;
	padding-top: 8px;
	height: 3px;
}
.page-5 .header .nav .box {
	float: left;
	margin-left: 5px;
	height: 3px;
	background-color: #fff;
}
.page-5 .header .nav .box:nth-child(1) {
	width: 30px;
}
.page-5 .header .nav .box:nth-child(2) {
	width: 10px;
}
.page-5 .header .nav .box:nth-child(3) {
	width: 20px;
}
.page-5 .header .nav .box:nth-child(4) {
	width: 10px;
}
.page-5 .header .nav .box:nth-child(5) {
	width: 10px;
}
.page-5 .header .nav .box:nth-child(6) {
	width: 30px;
}
.page-5 .main {
	padding: 0 40px;
}
.page-5 .left-wrap {
	float: left;
	padding: 10px 15px;
	width: 130px;
	height: 185px;
	background-color: #f2f2f2;
}
.page-5 .left-wrap .img-one {
	margin-bottom: 5px;
	width: 45px;
	height: 25px;
	background-color: #ff9978;
}
.page-5 .left-wrap .line {
	margin-bottom: 3px;
	height: 3px;
}
.page-5 .left-wrap .one {
	background-color: #71757E;
}
.page-5 .left-wrap .two {
	background-color: #c8c7c3;
}
.page-5 .left-wrap .w40 {
	width: 40px;
}
.page-5 .left-wrap .img-two {
	float: left;
	margin: 7px 0 5px;
	width: 30px;
	height: 25px;
	background-color: #92d3d9;
}
.page-5 .left-wrap .right {
	float: left;
	margin: 14px 0 0 10px;
	width: 30px;
}
.page-5 .left-wrap .img-three {
	margin: 10px 0 5px;
	width: 60px;
	height: 25px;
	background-color: #666a74;
}
.page-5 .right-wrap {
	float: left;
	width: 40px;
	height: 185px;
	background-color: #cdccca;
}
.page-5 .right-wrap .item {
	margin: 10px auto 15px;
	width: 25px;
}
.page-5 .right-wrap .title {
	height: 5px;
	background-color: #60646d;
}
.page-5 .right-wrap .line {
	margin: 3px 0;
	height: 2px;
	background-color: #fff;
}
.page-5 .right-wrap .w10 {
	width: 10px;
}
.page-5 .right-wrap .w15 {
	width: 15px;
}
.page-5 .right-wrap .w20 {
	width: 20px;
}
/* Page 6 */
.page-6 {
	padding: 0 25px;
}
.page-6 .main {
	height: 100%;
	background-color: #e6e4e5;
}
.page-6 .header {
	padding: 5px;
	height: 20px;
	background-color: #676b74;
}
.page-6 .header .logo {
	float: left;
	width: 50px;
	height: 10px;
	background-color: #fec056;
}
.page-6 .login {
	float: right;
	padding-top: 3px;
}
.page-6 .login .box {
	float: left;
	margin-left: 5px;
	width: 30px;
	height: 5px;
	background-color: #fff;
}
.page-6 .login .btn {
	float: left;
	margin-left: 5px;
	width: 15px;
	height: 5px;
	background-color: #fdbe55;
}
.page-6 .nav {
	height: 10px;
	background-color: #CCCBC9;
}
.page-6 .nav .link {
	float: left;
	position: relative;
	width: 30px;
	height: 10px;
}
.page-6 .nav .link:before {
	pointer-events: none;
	content: "";
	position: absolute;
	top: 4px;
	left: 5px;
	width: 20px;
	height: 2px;
	background-color: #5c626b;
}
.page-6 .nav .current {
	background-color: #454c57;
}
.page-6 .nav .link.current:before {
	background-color: #fff;
}
.page-6 .banner {
	margin: 10px 0;
	padding-top: 8px;
	height: 60px;
	background-color: #f2f2f2;
}
.page-6 .left-area {
	float: left;
	padding: 12px 12px 0;
	width: 65px;
	height: 45px;
	background-color: #666a74;
}
.page-6 .left-area .title {
	margin-bottom: 5px;
	height: 5px;
	background-color: #FCB855;
}
.page-6 .left-area .line {
	margin-bottom: 3px;
	height: 2px;
	background-color: #fff;
}
.page-6 .left-area .line:last-child {
	width: 20px;
}
.page-6 .right-area {
	float: left;
	margin-left: 15px;
	width: 111px;
}
.page-6 .right-area .left {
	float: left;
	padding-top: 3px;
	width: 40px;
}
.page-6 .right-area .left .title {
	margin-bottom: 5px;
	height: 5px;
	background-color: #585c67;
}
.page-6 .right-area .left .line {
	margin-bottom: 3px;
	height: 2px;
	background-color: #ccc;
}
.page-6 .right-area .left .line:last-child {
	width: 20px;
}
.page-6 .right-area .img {
	float: right;
	width: 55px;
	height: 30px;
	background-color: #ff9978;
}
.page-6 .bar {
	margin-top: 5px;
	width: 112px;
	height: 10px;
	background-color: #666a73;
}
.page-6 .item-wrap .item {
	float: left;
	margin-right: 7px;
	padding: 10px 0;
	width: 62px;
	background-color: #f2f2f2;
}
.page-6 .item-wrap .item:last-child {
	margin-right: 0;
}
.page-6 .item-wrap .img {
	margin: 0 auto 10px;
	width: 30px;
	height: 30px;
}
.page-6 .item-wrap .title {
	margin: 0 auto;
	width: 40px;
	height: 5px;
}
.page-6 .item-wrap .line {
	margin: 3px auto 0;
	width: 40px;
	height: 2px;
	background-color: #d0cecc;
}
.page-6 .item.black .img,
.page-6 .item.black .title {
	background-color: #666a73;
}
.page-6 .item.red .img,
.page-6 .item.red .title {
	background-color: #ff9978;
}
.page-6 .item.yellow .img,
.page-6 .item.yellow .title {
	background-color: #ffb959;
}
.page-6 .footer {
	padding: 5px 30px;
	height: 25px;
	background-color: #666a73;
}
.page-6 .footer .item {
	float: left;
	margin: 0 5px;
	width: 25px;
}
.page-6 .footer .line {
	margin: 2px auto;
	height: 1px;
	background-color: #aaa;
}
.page-6 .footer .line:last-child {
	width: 15px;
}
/* Page 7 */
.page-7 .nav {
	padding: 0 25px;
	height: 15px;
	background-color: #92d3d9;
}
.page-7 .nav .link {
	float: left;
	position: relative;
	width: 30px;
	height: 100%;
}
.page-7 .nav .link:before {
	pointer-events: none;
	content: "";
	position: absolute;
	top: 6px;
	left: 5px;
	width: 20px;
	height: 2px;
	background-color: #fff;
}
.page-7 .nav .link.current {
	background-color: #abe0e4;
}
.page-7 .banner {
	padding: 7px 25px 0;
	height: 65px;
	background-color: #c3ecf1;
}
.page-7 .banner .login {
	float: left;
	width: 50px;
	height: 50px;
	background-color: #f2f2f2;
}
.page-7 .banner .login .title {
	height: 10px;
	background-color: #666a74;
}
.page-7 .login .box {
	margin: 6px auto 0;
	width: 30px;
	height: 5px;
	background-color: #fff;
}
.page-7 .login .btn {
	margin: 6px auto 0;
	width: 30px;
	height: 5px;
	background-color: #90D4DA;
}
.page-7 .banner .right {
	float: left;
	margin-left: 10px;
	width: 140px;
}
.page-7 .banner .right .subject {
	margin-bottom: 5px;
	width: 70px;
	height: 5px;
	background-color: #94d3da;
}
.page-7 .banner .right .line {
	margin-bottom: 3px;
	height: 2px;
	background-color: #fff;
}
.page-7 .banner .right .line:last-child {
	width: 30px;
}
.page-7 .main {
	padding: 10px 25px 9px;
}
.page-7 .top-area .subject {
	margin-bottom: 5px;
	height: 5px;
	background-color: #666a73;
}
.page-7 .top-area .line {
	margin: 0 auto 3px;
	height: 3px;
	background-color: #d2d1d0;
}
.page-7 .top-area .line:last-child {
	width: 70px;
}
.page-7 .item-wrap {
	padding: 15px 0 0;
}
.page-7 .item-wrap .item {
	float: left;
	margin-right: 25px;
}
.page-7 .item-wrap .item:last-child {
	margin-right: 0;
}
.page-7 .item-wrap .img {
	margin-bottom: 5px;
	width: 50px;
	height: 30px;
	background-color: #92d3d9;
}
.page-7 .item-wrap .title {
	margin-bottom: 3px;
	height: 5px;
	background-color: #666a73;
}
.page-7 .item-wrap .line {
	margin-bottom: 3px;
	height: 2px;
	background-color: #d0cecc;
}
.page-7 .footer {
	padding: 6px 25px;
	height: 15px;
	background-color: #666a73;
}
.page-7 .footer .box {
	float: right;
	margin-left: 5px;
	width: 30px;
	height: 3px;
	background-color: #fff;
}
.page-7 .footer .copy {
	float: left;
	margin: 0;
	width: 95px;
}
/* Page 8 */
.page-8 .search-bar {
	margin: 10px auto;
	width: 150px;
	height: 15px;
	background-color: #ff9979;
}
.page-8 .search-bar .box {
	float: left;
	margin: 3px 5px 0 5px;
	width: 125px;
	height: 9px;
	background-color: #fff;
}
.page-8 .search-bar .btn {
	float: left;
	width: 15px;
	height: 15px;
	background-color: #696d78;
}
.page-8 .link-wrap {
	padding: 0 0 0 15px;
	height: 15px;
}
.page-8 .link-wrap .link {
	float: left;
	margin-right: 13px;
	width: 45px;
	height: 5px;
	background-color: #cac9c8;
}
.page-8 .banner {
	padding: 15px 25px;
	background-color: #c4edf1;
}
.page-8 .aside {
	float: left;
	padding-top: 8px;
	width: 50px;
	height: 50px;
	background-color: #92d3d9;
}
.page-8 .aside .link {
	position: relative;
	margin: 0 0 5px 15px;
	width: 28px;
	height: 5px;
	background-color: #fff;
}
.page-8 .aside .link:before {
	pointer-events: none;
	content: "";
	position: absolute;
	top: 0;
	left: -9px;
	width: 5px;
	height: 5px;
	background-color: #c9eff2;
}
.page-8 .right {
	float: left;
	margin: 5px 0 0 20px;
	width: 130px;
}
.page-8 .right .title {
	margin-bottom: 5px;
	height: 10px;
	background-color: #666b74;
}
.page-8 .right .line {
	margin: 0 auto 3px;
	height: 2px;
	background-color: #fff;
}
.page-8 .right .line:last-child {
	width: 60px;
}
.page-8 .item-wrap {
	padding: 10px 0 10px 25px;
}
.page-8 .item-wrap .item {
	float: left;
	margin-right: 25px;
	width: 50px;
}
.page-8 .item-wrap .img {
	position: relative;
	margin-bottom: 5px;
	padding: 7px;
	width: 50px;
	height: 40px;
}
.page-8 .item-wrap .img .title {
	margin: 0 auto 5px;
	height: 5px;
	background-color: #ed6d47;
}
.page-8 .item-wrap .img .line {
	margin: 0 0 3px 0;
	height: 3px;
	background-color: #fff;
}
.page-8 .item-wrap .img .line:last-child {
	width: 20px;
}
.page-8 .item-wrap .text .title {
	margin-bottom: 3px;
	height: 5px;
	background-color: #666a73;
}
.page-8 .item-wrap .text .line {
	margin-bottom: 2px;
	height: 2px;
	background-color: #d0cecc;
}
.page-8 .item-wrap .item.red .img {
	background-color: #ff9979;
}
.page-8 .item-wrap .item.blue .img {
	background-color: #abe0e6;
}
.page-8 .item-wrap .item.yellow .img {
	background-color: #ffc86d;
}
.page-8 .item-wrap .img:after,
.page-8 .item-wrap .img:before {
	pointer-events: none;
	content: "";
	position: absolute;
	width: 1px;
	height: 62px;
	background-color: #fff;
}
.page-8 .item-wrap .item .img:after {
	top: -11px;
	left: 24px;
	-webkit-transform: rotate(51deg);
	    -ms-transform: rotate(51deg);
	        transform: rotate(51deg);
}
.page-8 .item-wrap .item .img:before {
	top: -11px;
	right: 24px;
	-webkit-transform: rotate(-51deg);
	    -ms-transform: rotate(-51deg);
	        transform: rotate(-51deg);
}
.page-8 .item-wrap .item.red .img:after,
.page-8 .item-wrap .item.red .img:before {
	display: none;
}


/* ==========================================
   Blog
========================================== */
/* View */
.device-view {
	position: relative;
	width: 100%;
	z-index: 99;
}
.device-view .header {
	margin-bottom: 5px;
	height: 15px;
}
.device-view .header .left {
	float: left;
	width: 35%;
	height: 100%;
	background-color: #ff4d8f;
}
.device-view .header .right {
	float: right;
	width: calc(65% - 10px);
	height: 100%;
	background-color: #44403a;
}
.device-view .banner {
	height: 65px;
	background-color: #02cfbd;
}
.device-view .bar {
	margin: 5px 0;
	height: 15px;
	background-color: #44403a;
}
.device-view .item-wrap .text {
	float: left;
	padding-right: 10px;
	width: 35%;
}
.device-view .line {
	margin-bottom: 3px;
	height: 5px;
}
.device-view .blue .line {
	background-color: #037cc3;
}
.device-view .red .line {
	background-color: #ff4189;
}
.device-view .img {
	float: left;
	width: 30%;
	height: 30px;
	background-color: #02cfbd;
}
/* iMac */
.device-imac {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -140px 0 0 -165px;
	width: 330px;
	height: 280px;
	z-index: 20;
	-webkit-transform: scale(1.2);
	    -ms-transform: scale(1.2);
	        transform: scale(1.2);
}
.device-imac .bottom {
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -60px;
	width: 120px;
	height: 14px;
	background-color: rgba(0,0,0,.2);
	-webkit-border-radius: 7px;
	   -moz-border-radius: 7px;
	        border-radius: 7px;
}
.device-imac .bottom:before,
.device-imac .bottom:after,
.device-imac .window-main:before,
.device-imac .window-main:after,
.device-ipad:before,
.device-ipad:after,
.device-mac:before,
.device-mac:after,
.device-mac .window-main:before,
.device-mac .window-main:after,
.device-mac .bottom:before,
.device-mac .bottom:after {
	pointer-events: none;
	content: "";
	position: absolute;
	z-index: 0;
}
.device-imac .bottom:before {
	top: -3px;
	left: 12px;
	width: 96px;
	height: 10px;
	background-color: #fff;
}
.device-imac .bottom:after {
	top: -163px;
	left: 20px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 40px 160px 40px;
	border-color: transparent transparent #45403b transparent;
}
.device-imac .window-main {
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -165px;
	padding: 30px;
	width: 330px;
	height: 225px;
	-webkit-border-radius: 10px;
	   -moz-border-radius: 10px;
	        border-radius: 10px;
	z-index: 4;
}
.device-imac .window-main:before,
.device-imac .window-main:after {
	z-index: 5;
}
.device-imac .window-main:before {
	top: 0;
	left: 0;
	width: 100%;
	height: calc(100% - 30px);
	border: 12px solid #44403a;
	background-color: #fff;
	-webkit-border-radius: 10px 10px 0 0;
	   -moz-border-radius: 10px 10px 0 0;
	        border-radius: 10px 10px 0 0;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}
.device-imac .window-main:after {
	left: 0;
	bottom: 0;
	width: 100%;
	height: 30px;
	background-color: #fff;
	-webkit-border-radius: 0 0 10px 10px;
	   -moz-border-radius: 0 0 10px 10px;
	        border-radius: 0 0 10px 10px;
}
/* iPad */
.device-ipad {
	position: absolute;
	padding: 18px;
	width: 120px;
	height: 160px;
	-webkit-border-radius: 10px;
	   -moz-border-radius: 10px;
	        border-radius: 10px;
	box-shadow: 5px 5px 0 0 rgba(0,0,0,.2);
	z-index: 21;
}
.device-ipad:before {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 10px solid #44403a;
	border-left-width: 8px;
	border-right-width: 8px;
	border-right-width: 8px;
	border-bottom-width: 20px;
	background-color: #fff;
	-webkit-border-radius: 10px;
	   -moz-border-radius: 10px;
	        border-radius: 10px;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}
.device-ipad:after {
	left: 50%;
	bottom: 7px;
	margin-left: -14px;
	width: 28px;
	height: 6px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #fff;

}
/* View */
.device-ipad .device-view .header {
	height: 10px;
}
.device-ipad .device-view .header .right {
	width: calc(65% - 3px);
}
.device-ipad .device-view .banner {
	height: 60px;
}
.device-ipad .device-view .bar {
	height: 10px;
}
.device-ipad .device-view .item-wrap .text {
	padding-right: 5px;
}
.device-ipad .device-view .line {
	margin-bottom: 2px;
	height: 3px;
}
.device-ipad .device-view .img {
	height: 19px;
}
/* Phone */
.device-ipad {
	bottom: 100px;
	right: 70px;
}
.device-ipad.phone {
	right: 210px;
	bottom: 85px;
	padding: 18px 15px;
	width: 90px;
	height: 140px;
	-webkit-transform: scale(.5);
	    -ms-transform: scale(.5);
	        transform: scale(.5);
}
.device-ipad.phone .banner {
	height: 40px;
}
/* Mac */
.device-mac {
	position: absolute;
	bottom: 90px;
	left: 30px;
	width: 260px;
	height: 160px;
	z-index: 21;
}
.device-mac:before {
	top: 0;
	left: 50%;
	margin-left: -110px;
	width: 220px;
	height: calc(100% - 22px);
	border: 10px solid #44403a;
	background-color: #fff;
	-webkit-border-radius: 6px;
	   -moz-border-radius: 6px;
	        border-radius: 6px;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}
.device-mac .window-main {
	margin: 0 auto;
	padding: 20px;
	width: 220px;
	background-color: #fff;
	-webkit-border-radius: 6px;
	   -moz-border-radius: 6px;
	        border-radius: 6px;
}
.device-mac .window-main:before,
.device-mac .window-main:after {
	top: 135px;
	width: 40px;
	height: 5px;
	background-color: #44403a;
}
.device-mac .window-main:before {
	left: 35px;
}
.device-mac .window-main:after {
	right: 35px;
}
.device-mac .bottom {
	position: absolute;
	left: 10px;
	bottom: 0;
	width: 240px;
	height: 20px;
	background-color: #45403b;
	-webkit-border-radius: 10px;
	   -moz-border-radius: 10px;
	        border-radius: 10px;
}
.device-mac .bottom:before {
	top: 7px;
	left: 50%;
	margin-left: -26px;
	width: 52px;
	height: 5px;
	background-color: #fff;
	-webkit-border-radius: 2px;
	   -moz-border-radius: 2px;
	        border-radius: 2px;
	z-index: 22;
}
.device-mac .bottom:after {
	bottom: -7px;
	left: -5px;
	width: 250px;
	height: 20px;
	background-color: rgba(0,0,0,.2);
	-webkit-border-radius: 10px;
	   -moz-border-radius: 10px;
	        border-radius: 10px;
	z-index: -1;
}
/* View */
.device-mac .banner {
	height: 33px;
}
.device-mac .line {
	height: 3px;
}
.device-mac .img {
	height: 22px;
}


